{% extends 'clanwar/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="../static/images/participation.png" alt="Paticipations" width="350" height="350">
          <div class="caption">
            <h3>Clan War Participation</h3>
            <p>Clan War participation history by clan member. Find out who has been leaving the clan hanging by not playing their War Day battles!</p>
            <p><a href="{% url 'war_participation_query' %}" class="btn btn-primary" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="../static/images/standings.png" alt="Standings" width="350" height="350">
          <div class="caption">
            <h3>Clan War Standing Details</h3>
            <p>Clan War standings by war or season. Track your clan's performace in past wars and how well your clan fared as compared to your opponents!</p>
            <p><a href="#" class="btn btn-primary" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
