{% extends 'clanwar/base.html' %}

{% block content %}
<div class='participations'>
  <form method='GET' action="{% url 'war_participation' %}">
    <div class="col-lg-6" style="width: 100%;">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" type="button">Go!</button>
        </span>
        <input name='clan_tag' type="text" class="form-control" placeholder="Search by Clan Tag Eg. #PPLL8">
      </div>
    </div>
  </form>
</div>
<div class="container container-homepage">
  <div class="box clan-wars-query jumbotron">
  </div>
</div>
{% endblock %}
