<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <title>Scumbag Royale Beta</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Scumbag Royale Beta</a></h1>
        </div>

        <div>
          <table>
            <tr>
              <th>war_id</th>
              <th>season</th>
              <th>playerTag</th>
              <th>name</th>
              <th>cardsEarned</th>
              <th>battlesPlayed</th>
              <th>win</th>
            </tr>
            {%for war in participation %}
            <tr>
              <td>{{ war.war_id }}</td>
              <td>{{ war.season }}</td>
              <td>{{ war.player_tag }}</td>
              <td>{{ war.name }}</td>
              <td>{{ war.cards_earned }}</td>
              <td>{{ war.battles_played }}</td>
              <td>{{ war.wins }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </body>
</html>
